   @charset "utf-8";
   body{ height:100%; width:100%; margin:0px; border:0px; overflow:hidden;}
   .header{ height:15%; width:100%; margin:0px; border:1px; background-image: url(img/banner.gif); background-repeat:no-repeat; background-position:center;}
   .menu_body{ height:80%; width:100%;}
   .footer{height:5%; width:100%; background-color:#cccccc; margin:0px; border:1px; text-align:center; padding-top:0.5%;}
   .body{ height:100%; width:80%; background-color:#933; border:1px; margin:0px; float:left;}
   .menu{ height:100%; width:20%; background-color:#990; border:1px; margin:0px; float:right; overflow:auto;}
   .menu ul{ margin-top:10%; margin-left:20%;}
   .menu li{ font-size:24px; margin:10px; cursor:pointer;}
   .content_iframe{ width:100%; height:100%; border:0px; margin:0px; overflow:auto;}